.add-post-icon{
  font-size: 30px;
}
.example-spacer {
  flex: 1 1 auto;
}

.logo{
  width:60px;
}

.logo-name{
  font-size: 25px;
}

#buttonpost{
  visibility: hidden;
}

a .add-post { display: none; }
a:hover .add-post-icon { display: none; }
a:hover .add-post { display: inline; }
