<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let post of postList">
    <img  mat-card-image src="http://localhost:3000{{post.photoUrl}}">
    <mat-card-title>
      <span>{{post.title}}</span>
    </mat-card-title>
    <mat-card-content fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="100%">{{post.description}}</span>
    </mat-card-content>
    <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column">
      <button mat-button *ngFor="let tag of post.tags">{{tag}}</button>
      <button mat-raised-button color="primary" type="button" [routerLink]="['/view-post', post.id]">View</button>
    </mat-card-actions>
  </mat-card>
</div>
